<div class="list">
  {{#each}}
    <a href="#" class="item item-avatar" {{action 'show' this}}>
      <img {{bind-attr src=image}}>
      <h2>
        {{name}}
      </h2>
      <p>
        {{description}}
      </p>
    </a>
  {{/each}}
</div>
