<div class="bar bar-header bar-stable">
  {{#if backButton}}
    <button class="button button-clear back-button" {{action 'back'}}>
      <i class="ion-chevron-left"></i> Back
    </button>
  {{/if}}
  <h1 class="title">
    {{title}}
  </h1>
</div>
